[submodule "wp-content/plugins/clubsoda-site"]
	path = wp-content/plugins/clubsoda-site
	url = https://github.com/grit-and-oyster/clubsoda-site.git
[submodule "wp-content/plugins/oystershell-core"]
	path = wp-content/plugins/oystershell-core
	url = https://github.com/grit-and-oyster/oystershell-core.git
